<div class="main ">
  <div class="container-co">
    <div class="form-heading-co">企業検索</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
        <% end %>

        <%= form_tag("/companies/search") do %>
        <p>企業名</p>
        <input name="company_name" value="<%=@company_name %>">
        <p>業界</p>
        <%= select_tag 'industries', options_from_collection_for_select(@industries, :id, :name, ""), :multiple => true %>
        <p>業種</p>
        <%= select_tag 'sectors', options_from_collection_for_select(@sectors, :id, :name, ""), :multiple => true %>
        <p>県</p>
        <%= select_tag 'prefectures', options_from_collection_for_select(@prefectures, :id, :name, ""), :multiple => true %>
        <p>求人媒体</p>
        <%= check_box_tag(:mynavi, @use_mynavi, @use_mynavi) %>
        <%= label_tag(:mynavi, "マイナビ転職") %>
        <%= check_box_tag(:prtimes, @use_prtimes, @use_prtimes) %>
        <%= label_tag(:prtimes, "PR TIMES") %>

        <input type="submit" value="検索">
        <% end %>
      </div>
    </div>
  </div>
  <% if @results.present? %>
  <%= "結果：#{@count}件取得" %>
  <table border="5">
    <tr>
      <th>会社名</th>
      <th>業界</th>
      <th>業種</th>
      <th>代表者氏名</th>
      <th>本社所在地</th>
      <th>上場区分</th>
      <th>設立年月日</th>
      <th>電話番号</th>
      <th>FAX番号</th>
      <th>採用電話番号</th>
      <th>採用メールアドレス</th>
      <th>問合せフォーム</th>
      <th>会社URL</th>
      <th>Fcebook</th>
      <th>Twitter</th>
      <th>法人番号</th>
    </tr>
    <% @results.each do |result| %>
    <tr>
      <td><%= result[:company_name] %></td>
      <td><%= result[:industry] %></td>
      <td><%= result[:sector] %></td>
      <td><%= result[:president_name] %></td>
      <td><%= result[:address] %></td>
      <td><%= result[:listing] %></td>
      <td><%= result[:established_date] %></td>
      <td><%= result[:phone_number] %></td>
      <td><%= result[:fax_number] %></td>
      <td><%= result[:adoption_phone_number] %></td>
      <td><%= result[:adoption_email_address] %></td>
      <td><%= result[:contact_form] %></td>
      <td><%= result[:web_url] %></td>
      <td><%= result[:facebook_url] %></td>
      <td><%= result[:twitter_url] %></td>
      <td><%= result[:corporate_num] %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>