<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">
<head>
  <title>PjApo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--<head>内-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
  <!-- 追加機能(widgets)を使用する場合は次も追加する -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.widgets.min.js"></script>
  <script type="text/javascript" src="jquery.tablesorter.pager"></script>
  <script type="text/javascript" src="jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/extras/jquery.tablesorter.pager.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.combined.min.js"></script>
<!--  <script type="text/javascript" src="jquery.tablesorter.js"></script>-->
<!--  <script type="text/javascript" src="addons/pager/jquery.tablesorter.pager.js"></script>-->
</head>

<body class="skin-yellow sidebar-mini" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height:  auto; min-height: 100%;">
  ::before
  <header class="main-header">

        <% if @current_user %>
          <%= link_to("デモ", "/home/top",  {class: "logo"}) %>
        <% else %>
          <%= link_to("デモ", "/home/top",{class: "logo"}) %>
        <% end %>
    <nav class="navbar navbar-static-top">
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <% if @current_user %>
            <li class="dropdown user user-menu">
              <%= link_to("ログアウト", "/logout", {method: :post, class: "user-menu-link"}) %>
            </li>
          <% else %>
            <li class="dropdown user user-menu">
              <%= link_to("新規登録", "/signup") %>
            </li>
            <li class="dropdown user user-menu">
              <%= link_to("ログイン", "/login") %>
            </li>
          <% end %>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <% if @current_user %>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">

        <li class="header">営業リスト作成</li>
        <li class="active">

<!--          <a href="/">-->
<!--            <i class="fa fa-industry text-yellow"></i><span><strong>企業データベース</strong></span>-->
<!--          </a>-->
          <%= link_to("企業データベース", "/companies/search",  {class: "fa fa-industry "}) %>
        </li>
      </ul>
    </section>
  </aside>
  <% end %>


<%# if flash[:notice] %>
<!--  <div class="flash">-->
    <%#= flash[:notice] %>
<!--  </div>-->
<%# end %>


<%= yield %>
</div>
</body>
</html>