<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">

<head>
  <title>PjApo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--<head>内-->
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">-->
<!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>-->
<!--  <!-- 追加機能(widgets)を使用する場合は次も追加する -->-->
<!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.widgets.min.js"></script>-->
<!--  <script type="text/javascript" src="jquery.tablesorter.pager"></script>-->
<!--  <script type="text/javascript" src="jquery.js"></script>-->
<!--  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/extras/jquery.tablesorter.pager.min.js"></script>-->
<!--  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.combined.min.js"></script>-->
  <!--  <script type="text/javascript" src="jquery.tablesorter.js"></script>-->
  <!--  <script type="text/javascript" src="addons/pager/jquery.tablesorter.pager.js"></script>-->
</head>

<body class="skin-yellow sidebar-mini" style="height: auto; min-height: 100%;">
  <div class="wrapper" style="height:  auto; min-height: 100%;">
    <header class="main-header">

    </header>


    <%= yield %>
  </div>
</body>

</html>